@media screen and (min-width: 768px) {
  .prof {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 60px;
  }
  .prof__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .prof__small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Yanone Kaffeesatz;
    font-size: 25px;
    line-height: 1.25;
    margin: 0 10px 30px 10px;
    text-align: center;
    padding-bottom: 20px;
    color: white;
  }
  .prof__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .prof_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: center;
    width: 1000px;
    line-height: 1.25;
    margin: 20px;
  }
  .prof_item .prof_box {
    font-size: 30px;
    margin-right: 50px;
  }
  .prof_item .prof__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 350px;
    height: 250px;
    margin-bottom: 20px;
  }
  .prof_item .prof_head {
    color: white;
    padding: 10px;
  }
  .information {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 700px;
  }
  .prof_text {
    font-size: 18px;
    color: white;
    text-align: left;
    margin-bottom: 20px;
  }
  .pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .pictures_item {
    margin-right: 10px;
  }
  .pic_img {
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bottom_text {
    width: 900px;
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 70px;
  }
  .inf_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
  }
  .inf_class {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .name {
    font-size: 30px;
    font-family: "Pacifico", sans-serif;
    margin-bottom: 60px;
  }
}/*# sourceMappingURL=prof.css.map */